
 $blue:#009DDC;
 $blue2:#1990EA; // Nav Background 
 $blue3:#2EA1F8;
 $blue4:#1166A5;
 $white:#FFFFFF; // Nav text
 $grey:#EFF3F6;  // Body background
 $grey2:#E6EAEE;
 $grey3:#EEEEEE;
 $green2:#39B54A;
 $green3:#34AA44;
 $green4:#249533;
 $green5:#1E930B;
 $green6:#1E9D09;
 $orange:#B54C0D; // Score label color

 