<!DOCTYPE html>
<html>
  <head>
    <title>GamaGame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <nav class="gama-nav-bar">
        <ul class="nav-game-name">
          <li><a href="#">Gama Game</a></li>
        </ul>
        <ul class="nav-links">
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </nav>
      <div class="container-fluid">
        <%= yield %>
      </div>

    </div>
  </body>
</html>
